# Aether Project AlphaGriffin.com 2017
# /.gitignore
# __author__ = Ruckusist

# extras
*.swp
*.pyc

# install dirs
build/
dist/
Aether_Project.egg-info

# IDE bloat
*/__pycache__
*/*/__pycache__

# logs
*.log


# hide Things from Atom
